*{

  padding: 0px;
  
  margin: 0px;
  
  }
  
  
  
  
  body{
  
  background-image: url("imagen45.jpg");
  
  background-repeat: repeat;
  
  }
  
      
      .contenedor{
      
       
      
      height: 1000px;
      }
      .contenedor2{
      
       
      
          height: 1000px;
          
          
           
          
          }
      .texto{
      
      font-size: 40px;
      
      text-align: right;
      
      color: rgb(255, 255, 255);
      
       
      
      }
      
  
      .contenido{

          height: 280px;
          width: 100%;
          float: right;
          position: absolute;
          color: white;
          top: 300px;
          
          }
          .textotecno{
      
            font-size: 20px;
            
            text-align: center;
            
            color: rgb(0, 0, 0);
            
             
            
            }
            .imagentecno{
    
     
    
              background-repeat: no-repeat;
              
              float:left;
              
              height: 350px;
              
              width: 270px;
              
              margin-left: 5px;
              
              margin-right:5px;
              
              background-image: url(Dibujo.jpg.crdownload);
              
              
              }
              .giftecno{
    
     
    
                background-repeat: no-repeat;
                
                float:right;
                
                height: 200px;
                
                width: 260px;
                
                margin-left: 5px;
                
                margin-right:5px;
                
                background-image: url(Image115.gif.crdownload);
                
                
                }
                .contenido{

                  height: 280px;
                  width: 100%;
                  float: right;
                  position: absolute;
                  color: white;
                  top: 300px;
                  
                  }
                  .textosociales{
              
                    font-size: 20px;
                    
                    text-align: left;
                    
                    color: rgb(0, 0, 0);
                  }
                  .imagensociales{
    
     
    
                    background-repeat: no-repeat;
                    
                    float:left;
                    
                    height: 350px;
                    
                    width: 270px;
                    
                    margin-left: 5px;
                    
                    margin-right:5px;
                    
                    background-image: url(th.jpg);
                    
                    
                    }
                    .contenido{

                      height: 280px;
                      width: 100%;
                      float: right;
                      position: absolute;
                      color: white;
                      top: 300px;
                      
                      }
                      .textomatematicas{
                  
                        font-size: 20px;
                        
                        text-align: right;
                        
                        color: rgb(0, 0, 0);
                      }
                      .imagenmatematicas{
    
     
    
                        background-repeat: no-repeat;
                        
                        float:left;
                        
                        height: 900px;
                        
                        width: 900px;
                        
                        margin-left: 5px;
                        
                        margin-right:5px;
                        
                        background-image: url(suma\ y\ resta\ de\ polinomios.jpg);
                        
                        
                        }
                        .contenido{

                          height: 280px;
                          width: 100%;
                          float: right;
                          position: absolute;
                          color: white;
                          top: 300px;
                          
                          }
                          .textoingles{
                      
                            font-size: 20px;
                            
                            text-align: left;
                            
                            color: rgb(0, 0, 0);
                          }
                          .imageningles{
        
         
        
                            background-repeat: no-repeat;
                            
                            float: right;
                            
                            height: 500px;
                            
                            width: 650px;
                            
                            margin-left: 5px;
                            
                            margin-right: 320px;
                            
                            background-image: url(enfermedades\ -ingles.jpg);
                            
                            
                            }
                            .contenido{

                              height: 280px;
                              width: 100%;
                              float: right;
                              position: absolute;
                              color: white;
                              top: 300px;
                              
                              }
                              .textoreligion{
                          
                                font-size: 20px;
                                
                                text-align: center;
                                
                                color: rgb(0, 0, 0);
                              }
                              .imagenreligion{
            
             
            
                                background-repeat: no-repeat;
                                
                                float: left;
                                
                                height: 500px;
                                
                                width: 650px;
                                
                                margin-left: 5px;
                                
                                margin-right: 320px;
                                
                                background-image: url(ba8smiqn_bg.webp);
                                
                                
                                }
                                .contenido{

                                  height: 280px;
                                  width: 100%;
                                  float: right;
                                  position: absolute;
                                  color: white;
                                  top: 300px;
                                  
                                  }
                                  .textobiologia{
                              
                                    font-size: 20px;
                                    
                                    text-align: right;
                                    
                                    color: rgb(0, 0, 0);
                                  }
                                  .imagenbiologia{
                
                 
                
                                    background-repeat: no-repeat;
                                    
                                    float: left;
                                    
                                    height: 800px;
                                    
                                    width: 1200px;
                                    
                                    margin-left: 5px;
                                    
                                    margin-right: 320px;
                                    
                                    background-image: url(renuncia-a-la-herencia-genetica.png);
                                    
                                    
                                    }
                                    .contenido{

                                      height: 280px;
                                      width: 100%;
                                      float: right;
                                      position: absolute;
                                      color: white;
                                      top: 300px;
                                      
                                      }
                                      .textotecno2{
                                  
                                        font-size: 20px;
                                        
                                        text-align: left;
                                        
                                        color: rgb(0, 0, 0);
                                      }
                                      .contenido{

                                        height: 280px;
                                        width: 100%;
                                        float: right;
                                        position: absolute;
                                        color: white;
                                        top: 300px;
                                        
                                        }
                                        .textomate2{
                                    
                                          font-size: 20px;
                                          
                                          text-align: center;
                                          
                                          color: rgb(0, 0, 0);
                                        }
                                        .contenido{

                                          height: 280px;
                                          width: 100%;
                                          float: right;
                                          position: absolute;
                                          color: white;
                                          top: 300px;
                                          
                                          }
                                          .textoingles2{
                                      
                                            font-size: 20px;
                                            
                                            text-align: left;
                                            
                                            color: rgb(0, 0, 0);
                                          }
                                          .contenido{

                                            height: 280px;
                                            width: 100%;
                                            float: right;
                                            position: absolute;
                                            color: white;
                                            top: 300px;
                                            
                                            }
                                            .textobiologia2{
                                        
                                              font-size: 20px;
                                              
                                              text-align: left;
                                              
                                              color: rgb(0, 0, 0);
                                            }
                                            .imagenbiologia2{
                
                 
                
                                              background-repeat: no-repeat;
                                              
                                              float: left;
                                              
                                              height: 400px;
                                              
                                              width: 400px;
                                              
                                              margin-left: 5px;
                                              
                                              margin-right: 320px;
                                              
                                              background-image: url(figura91.gif);
                                              
                                              
                                              }